
img,a{
    height:100px;
    width:100px;
    margin-bottom: 5px;
    margin:auto !important;
}

h1 {
color:  rgb(103, 40, 142);
    text-shadow: 2px 2px 5px rgb(249, 236, 255);
    animation: myHeader;
    animation-duration:4s;
    animation-delay:0.75s;
    animation-timing-function: ease;
   text-align: center;
   }
   
   #logo{
    height:150px;
    width:150px;
    margin-bottom: 5px;
    margin:auto !important;
   }

   @keyframes myHeader{
    from{margin-left: 100%;}
    to{margin-left: 0%}
}
button{
    color:  rgb(103, 40, 142);
    background-color:rgb(249, 236, 255);
    border-radius: 20px;
    height:30px;
    width:90px;
    margin:auto !important;
}
button:hover{
    background-color: rgb(103, 40, 142);
}
body{
    background-color: rgb(249, 236, 255);
}
footer{
    background-color: rgb(171, 131, 194);
   text-align: center !important;
    position: sticky;
    left:0;
    bottom: 0;
    width:100%;
}
p{
    margin: 0 auto;
    background-color: rgb(249, 236, 255);
    width: fit-content;
    align-items: center;
    border-radius: 5px !important;
    padding:3px !important;
}

#paragraph_div{
    margin: 0 auto;
    background-color: rgb(249, 236, 255);
    width: fit-content;
    align-items: center;
    border-radius:5px !important;
    padding:3px !important;
    height:fit-content;
}
button:hover{
    transform: translateY(-10px);
    color:white;
}
#foot{
    position: fixed;
    bottom:0;
   }

   table{
    background-color:rgb(249, 236, 255);
    margin-bottom: 10px;
    width: fit-content;
   }
   td{
    background-color: rgb(249, 236, 255);
    color:white;
    text-align: center;
   }
   th{
    background-color: rgba(88, 5, 5, 0.7);
    color:white;
   }
   @media (max-width: 600px) {
    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
    iframe{
        width: 300px;
        height:300px;
    }

    .btn {
        width: 100%; /* Make buttons full width */
        padding: 10px; /* Increase padding for touch targets */
    }

    #paragraph_div {
        width: 90%; /* Make paragraph div wider on mobile */
        padding: 10px; /* Add padding */
        height:fit-content;
    }

    p {
        font-size: 14px; /* Adjust font size for paragraphs */
        height:fit-content;
        
    }

    footer {
        font-size: 14px; /* Adjust footer font size */
        padding: 15px; /* Increase padding for footer */
        text-align: center;
    }
}
